<% include header.ejs %>

<!--/ Appliances /-->
<section class="section-services section-t8" id="appliance">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Smart Appliances</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-television"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Televsion</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Smart TVs are dedicated to connected living experiences. You can use your TV to connect wirelessly with a wide range of smart devices and make them work together.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-bullhorn"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Speakers</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                A smart speaker is a type of wireless speaker and voice command device with an integrated virtual assistant that offers interactive actions to listen and enjoy good music in a clear voice.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-lightbulb-o"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Lamps</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Smart Lamp is a lighting technology designed for energy efficiency.Can be used by smartphone to connect wirelessly with a wide range of smart devices 
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Appliance End /-->

  <% include footer.ejs %>